/* all colors used in the app is stored here */

#app{
    /* hsl (fallback color) */
    --bg-dark: hsl(59 7% 89%);
    --bg: hsl(59 13% 94%);
    --bg-light: hsl(59 100% 99%);
    --text: hsl(58 25% 4%);
    --text-muted: hsl(59 4% 27%);
    --highlight: hsl(59 100% 99%);
    --border: hsl(59 3% 49%);
    --border-muted: hsl(59 4% 61%);
    --primary: 	hsl(161, 75%, 23%);
    --secondary: hsl(247 33% 36%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
    /* oklch */
    /* --bg-dark: oklch(0.92 0.005 106);
    --bg: oklch(0.96 0.005 106);
    --bg-light: oklch(1 0.005 106);
    --text: oklch(0.15 0.01 106);
    --text-muted: oklch(0.4 0.01 106);
    --highlight: oklch(1 0.01 106);
    --border: oklch(0.6 0.01 106);
    --border-muted: oklch(0.7 0.01 106);
    --primary: oklch(0.4 0.1 106);
    --secondary: oklch(0.4 0.1 286);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260); */
  }