.lang-change-button{
    position: absolute;
    top: 50%;
    width: 100px;
    right: 0;
    background-color: var(--bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.lang-change-button ul{
    display: inline;
    list-style: none;
    text-align: center;
}

.lang-change-button ul li{
    margin: 20px 20px;
    padding: auto;
    height: 100px;
    background-color: var(--bg-light);
    color: var(--primary);
    border-radius: 10px;
    align-self: center;
}

.lang-change-button ul li.active{
    color: var(--bg-light);
    background-color: var(--primary);
}