.SimpleFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--bg-dark);
    align-self: center;
    color: var(--primary);
    z-index: 1000;
    padding-top: 50px;
}

.SimpleFooter span{
    font-weight: 600;
}