.PosterSlider{
    position: relative;
    top: 5%;
    width: 75%;
    height: 70%;
    margin: auto;
    border-width: 2px;
    padding: 10px 10px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px !important; /* Adjust size as needed */
  color: #000; /* Optional: Change arrow color */
}

.slick-prev,
.slick-next {
  width: 50px; /* Optional: Adjust container size */
  height: 50px; /* Optional: Adjust container size */
  display: flex !important; /* Ensure proper alignment */
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure arrows are above the slider */
}