.PosterSlider{
    position: relative;
    top: 5%;
    width: 75%;
    margin: auto;
}

.PosterSlider .image-container{
    position: relative;
    width: 100%;
    height: 1550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    filter: saturate(50%);
    transition: all ease 0.5s;
    &:hover{
        filter: saturate(100%);
    }
}

.slick-prev::before,
.slick-next::before {
  content: none !important;
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  --Button-Size: 150px;
  --Y-Offset: 0px;
}

.slick-prev{
    --X-Offset: -150px;
}

.slick-next{
    --X-Offset: 150px;
}

.BFA .slick-prev,
.BFA .slick-next{
    --Button-Size: 200px;
    --Y-Offset: 850px;
}

.BFA .slick-prev{
    --X-Offset: 300px;
}

.BFA .slick-next{
    --X-Offset: -300px;
}